.main {
  position: relative;
  width: 900px;
  height: 550px;
  border-radius: 9px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
}

.button {
  position: absolute;
  transform: translateX(-50%);
}

.btnNewGame {
  left: 50%;
  top: 7%;
}

.btnRollDice {
  left: 50%;
  top: 65%;
}

.btnHold {
  left: 50%;
  top: 76%;
}

.diceShape {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.diceShape > img {
  width: 100px;
  height: 100px;
}
